attrs==20.3.0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudevents==1.2.0
colorama==0.4.4
coverage==5.5
cryptography==3.4.7
deprecation==2.1.0
docutils==0.17
flake8==3.9.0
Flask==1.1.2
idna==2.10
importlib-metadata==3.10.0
iniconfig==1.1.1
itsdangerous==1.1.0
jeepney==0.6.0
Jinja2==2.11.3
keyring==23.0.1
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.3
pytest-cov==2.11.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
toml==0.10.2
tqdm==4.59.0
twine==3.4.1
urllib3==1.26.4
waitress==2.0.0
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.4.1
